reg-home {

    body {
        background-color: #333333;
        color: #ffffff;
        padding: 10px
    }

    .btn-success {
        background-color: #666666;
    }

    img#logo {
        max-height: 71px;
        max-width: 200px;
    }

    div.container {
        /*text-align: center;*/
    }

    div.row {
        /*text-align: center;*/
    }

    div#innerBody {
        border: 3px solid #eebf00;
        padding: 20px;
    }

    div.user_val{
        padding-top:6px;
    }

}
